*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.jks
.git
app/.gitignore
app/libs/
app/proguard-rules.pro
app/release/
app/schemas/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
